<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521360573821-8s417a6dc90eql8aduuega27hsbcu4ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521360573821-8s417a6dc90eql8aduuega27hsbcu4ar</string>
	<key>API_KEY</key>
	<string>AIzaSyBwmDSyDQNONmPxAdb5RY6s_Ewt-yAl_tk</string>
	<key>GCM_SENDER_ID</key>
	<string>521360573821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodapp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-7d917</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-7d917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521360573821:ios:76ac44e4954f7bf7757814</string>
</dict>
</plist>